<h1>Listing users</h1>

<table>
  <tr>
    <th>email</th>
    <th>high score</th>
    <th>total score</th>
    <th>level</th>


  </tr>

<% @users.sort_by{|user| user.total_score}.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.high_score %></td>
    <td><%= user.total_score %></td>
    <td><%= user.level %></td>


  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
