<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :createdDate %><br />
    <%= f.number_field :createdDate %>
  </div>
  <div class="field">
    <%= f.label :dayNightFreq %><br />
    <%= f.number_field :dayNightFreq %>
  </div>
  <div class="field">
    <%= f.label :dayORnight %><br />
    <%= f.check_box :dayORnight %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<% end %>
