<p id="notice"><%= notice %></p>

<p>
  <b>Createddate:</b>
  <%= @game.createdDate %>
</p>

<p>
  <b>Daynightfreq:</b>
  <%= @game.dayNightFreq %>
</p>



<%= link_to 'Restart Game', restart_game_path %>
<%= link_to 'Edit', edit_game_path(@game) %>
<%= link_to 'Back', games_path %>
