<p id="notice"><%= notice %></p>

<p>
  <b>Createddate:</b>
  <%= @game.createdDate %>
</p>

<p>
  <b>Daynightfreq:</b>
  <%= @game.dayNightFreq %>
</p>

<p>
  <b>Dayornight:</b>
  <%= @game.dayORnight %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
