<p id="notice"><%= notice %></p>

<p>
  <b>Userid:</b>
  <%= @player.UserID %>
</p>

<p>
  <b>Alignment:</b>
  <%= @player.Alignment %>
</p>

<p>
  <b>Isdead:</b>
  <%= @player.isDead %>
</p>

<p>
  <b>Lat:</b>
  <%= @player.lat %>
</p>

<p>
  <b>Lng:</b>
  <%= @player.lng %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
