<h1>Listing reports</h1>

<table>
  <tr>
    <th>High score</th>
    <th>Game id</th>
    <th>Winners</th>
    <th>Most Kills</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reports.each do |report| %>
  <tr>
    <td><%= report.high_score %></td>
    <td><%= report.game_ID %></td>
    <td><%= report.winners %></td>
    <td><%= report.most_kills %></td>
    <td><%= link_to 'Show', report %></td>
    <td><%= link_to 'Edit', edit_report_path(report) %></td>
    <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Report', new_report_path %>
